[submodule "lib/WDL"]
	path = lib/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus
[submodule "config-web"]
	path = config-web-custom
	url = https://github.com/Nightggan/OmniSense-Dongle.git
