[submodule "lib/WDL"]
	path = lib/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus
[submodule "config-web"]
	path = config-web
	url = https://github.com/loteran/ds5dongle-config.git
