[Desktop Entry]
Type=Application
Version=1.0
Name=DS5 Audio Haptics BT
Comment=Configure DS5Dongle audio haptics, controller and lighting
Exec=ds5-audio-haptics-bt %U
Icon=ds5-audio-haptics-bt
Categories=Utility;AudioVideo;
Keywords=DualSense;DS5;Haptics;Bluetooth;Audio;PlayStation;
StartupNotify=true
